        body {
            background-color: #f2f2f2; /* Color de fondo */
            font-family: 'Arial', sans-serif; /* Tipo de letra del body */
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333; /* Color de fondo del menú de navegación */
            color: #f2f2f2; /* Color del texto en el menú de navegación */
            padding: 15px;
            text-align: center;
        }

        .navbar {
            background-color: #f2f2f2;
            overflow: hidden;
        }

        .navbar a {
            float: left;
            display: block;
            text-decoration: none;
            color: #333; /* Color de texto de los enlaces */
            padding: 14px 16px;
            text-align: center;
            width: 120px; /* Ancho fijo para todos los botones */
        }

        .navbar a:hover {
            background-color: #666;
            color: #f2f2f2;
        }

        .navbar .icon {
            display: none;
        }

        @media screen and (max-width: 600px) {
            .navbar a {
                float: none;
                width: 100%;
            }
        }


        /* Estilo para la capa flotante */
        .floating-image {
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
            display: none; /* Inicialmente oculto */
            z-index: 1000; /* Asegura que la capa flotante esté encima del contenido */
        }

        /* Estilo para la animación de la imagen al pasar el ratón */
        .floating-image:hover {
            transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
        }

        /* Estilo para la capa de contenido (puede ser tu contenido principal) */
        .content {
            padding: 20px;
        }
